.main_outer_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    width: 100vw;
    height: 100%;
    min-height: 80vh;
    background-color: rgb(241, 242, 242);
    /* border: 3px solid red; */
}

.search_outer_container{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    background-color: rgb(255, 255, 255);
    

    width: 90%;
    /* height: 100%; */
    height: 100%;
    min-height: 80vh;
    padding: 5rem;
    position: relative;
    /* border: 3px solid red; */

}

.search_result_item{
    margin-bottom: 4rem;
}


.bottom_url_link{
    color: rgba(12, 118, 69, 0.8);
    margin-top: 0rem;
    margin-bottom: 3rem;
}

.search_outer_container h3{
    margin: 0 0 1rem 1rem;
}



.pagination_container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: flex-end;
    width: 80%;
    height: 3rem;
    /* background-color: rgb(211, 211, 251); */
    list-style: none;

    position: absolute;
    bottom: 4rem;
}

.pagination_container a {
    padding: .8rem 1.1rem;
    
    height: 2rem;
    width: 2rem;
    margin: .7rem;
    border-radius: 50px;
    border: 1px solid rgb(27, 99, 165);
    color: rgb(27, 99, 165);
    font-weight: bolder;
    cursor: pointer;
    transition: all .8s;
}

.pagination_container a:hover{
    background-color: rgba(27, 99, 165, 1);
    color: white;
}

.pagination_container a:active{
    background-color: rgb(13, 59, 102);
    color: white;
}

.active_btn a{
    background-color: rgb(27, 99, 165);
    color: white;
}

.disabled_btn a{
    opacity: 0.3;
}

.disabled_btn a:hover{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(27, 99, 165);
}

.individual_result{
    margin-bottom: 3rem;
}








